absl-py==0.7.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
arrow==0.13.1
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
autosub==0.3.12
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bert-embedding==1.0.1
bert-serving-client==1.9.6
bert-serving-server==1.9.6
bitarray==1.2.2
bkcharts==0.2
blaze==0.11.3
bleach==3.1.5
bokeh==2.1.0
boto==2.49.0
boto3==1.13.11
botocore==1.16.11
Bottleneck==1.3.2
brotlipy==0.7.0
bz2file==0.98
cachetools==4.1.0
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
clyent==1.2.2
colorama==0.4.3
colormath==3.0.0
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.7.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography==2.9.2
cssselect2==0.2.2
cycler==0.10.0
Cython==0.29.20
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1592842333140/work
datashape==0.5.4
dateparser==0.7.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distributed @ file:///opt/concourse/worker/volumes/live/e43ee530-1b45-4758-53f0-c8e8f8e0897e/volume/distributed_1592842519630/work
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Cors==3.0.8
flatbuffers==1.11
fsspec==0.7.4
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gensim==3.4.0
get-secret==0.0.2
getsecret==0.0.1
gevent==1.4.0
glob2==0.7
gluonnlp==0.6.0
gmpy2==2.0.8
google-api-core==1.17.0
google-api-python-client==1.7.11
google-auth==1.14.1
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-storage==1.28.0
google-pasta==0.1.7
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
GPUtil==1.4.0
graphviz==0.8.4
greenlet==0.4.16
grpcio==1.23.0
-e git+https://github.com/openai/gym@abb815c871447a14532558772739ccb88deee109#egg=gym
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
httplib2==0.14.0
hypothesis==5.16.1
idna==2.9
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.1
inflect==0.2.5
intervaltree==3.0.2
ipykernel==5.3.0
ipython @ file:///opt/concourse/worker/volumes/live/02237e64-34e3-452e-5c63-14b73548ce0e/volume/ipython_1592348474440/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///opt/concourse/worker/volumes/live/114a62c0-dd60-4a40-6382-85abb31b5f6e/volume/jedi_1592841953086/work
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.4
jupyterlab-server==1.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.5.0
libarchive-c==2.9
llvmlite==0.29.0
locket==0.2.0
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib @ file:///opt/concourse/worker/volumes/live/34dd81d3-0a70-4e5e-5ad6-be36ca7e59f7/volume/matplotlib-base_1592846084794/work
mccabe==0.6.1
memoize2==0.1.1
mistune==0.8.4
mittens==0.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
moment==0.8.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mxnet==1.4.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.0.3
numba==0.44.1
numexpr==2.7.1
numpy==1.18.1
numpydoc==1.0.0
odo==0.5.1
olefile==0.46
opencv-python==4.1.1.26
openpyxl==3.0.3
packaging==20.4
pandas @ file:///opt/concourse/worker/volumes/live/38d1301c-8fa9-4d2f-662e-34dddf33b183/volume/pandas_1592841668171/work
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plotly==3.7.0
pluggy==0.13.1
ply==3.11
progressbar==2.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.2
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.3
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyenchant==2.0.0
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.6.1
pylint==2.4.4
pymongo==3.7.2
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
Pyphen==0.9.5
PyQt5==5.12
PyQt5-sip==4.19.19
PyQtWebEngine==5.12
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.4
pysrt==1.1.1
pytest==5.4.3
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.7.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-igraph==0.7.1.post6
python-jsonrpc-server==0.3.4
python-language-server @ file:///opt/concourse/worker/volumes/live/2c95c0c4-e5dc-4320-62f9-b28bb64482dd/volume/python-language-server_1592846465278/work
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
ray==0.7.2
redis==3.2.1
regex==2020.5.14
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
retrying==1.3.3
rope==0.17.0
rpy2==3.0.1
rsa==4.0
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn @ file:///opt/concourse/worker/volumes/live/eab838ab-55a5-40d0-5cbd-f1854d35aa9d/volume/scikit-learn_1592503039331/work
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sk-video==1.1.10
smart-open==2.0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1592842202926/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1592842361205/work
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.17
statsmodels==0.11.1
sympy==1.6
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
times==0.7
tinycss2==1.0.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
torch==1.2.0
torchvision==0.4.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
typing==3.6.6
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
Unipath==1.1
uritemplate==3.0.0
urllib3==1.25.9
watchdog==0.10.2
wcwidth==0.2.4
WeasyPrint==50
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
word-forms==1.0
wordcloud==1.6.0
wrapt==1.12.1
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.4
xlwt==1.3.0
yapf @ file:///tmp/build/80754af9/yapf_1592847929485/work
zict==2.0.0
zipp==3.1.0
